; ~/.gitconfig
[advice]
    statusHints = false
[alias]
    ; Add
    a = add
    ai = add -i

    ; Branch
    br = branch -vv

    ; Commit
    c   = commit
    cm  = commit -m
    ca  = commit --all
    cam = commit --all -m

    ; Checkout
    co = checkout
    cb = checkout -b

    ; Cherry Pick
    cp = cherry-pick

    ; Clone
    cl = clone

    ; Diff
    ;d  = difftool
    ;dc = difftool --cached
    ;cr = difftool --no-prefix HEAD~..HEAD
    d  = diff
    dc = diff --cached
    cr = diff --no-prefix HEAD~..HEAD

    ;dft = difftool

    ; Log
    ; Some of these have come from http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples
    ; Usage: git fl path/to/file.ext
    fl   = "log -u"
    ld   = "log --pretty=format:'%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]' --decorate --date=relative"
    lds  = "log --pretty=format:'%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]' --decorate --date=short"
    lg   = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    ll   = "log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate --numstat"
    ls   = "log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate"
    ;dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"

    ; Pull
    pl = pull

    ; Push
    p   = push
    ps  = push
    psu = push -u

    ; Remote
    r = remote -v

    ; Stash
    ss = stash save
    sl = stash list
    sa = stash apply
    sd = stash drop

    ; Status
    s = status --short --branch --show-stash

    ; Tag
    t = tag -n
[apply]
    whitespace = nowarn
[branch]
    autoSetupMerge = true
    autoSetupRebase = always
[branch "main"]
    remote = origin
    merge = refs/heads/main
[checkout]
    defaultRemote = origin
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    commit = yellow
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    updated = green
;[column]
;    ui = always
[commit]
    ;template = ~/.gitconfig.d/commit.tmpl
[core]
    ; ~/.config/git/attributes
    ;attributesFile = ~/.gitconfig.d/attributes
    autocrlf = input
    editor = vim
    eol = lf
    ; ~/.config/git/ignore
    excludesfile = ~/.gitconfig.d/excludesfile
    mergeoptions = --no-ff
    pager = less -+F
    whitespace = blank-at-eol,blank-at-eof,space-before-tab
[credential]
    ; @see https://git-scm.com/doc/credential-helpers
    helper = osxkeychain
[diff]
    ;external = difft
    ;mnemonicPrefix = true
    noPrefix = true
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft --color=always "$LOCAL" "$REMOTE"
[fetch]
    prune = true
    pruneTags = true
[gc]
    auto = 6700
[grep]
    lineNumber = true
    threads = 0
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
    ;This is used when you git init a directory
    ;templatedir = ~/.gitconfig.d/templates
[merge]
    autoStash = true
    summary = true
    tool = vimdiff
    verbosity = 1
[mergetool]
    prompt = false
[mergetool "meld"]
    useAutoMerge = auto
[mergetool "vimdiff"]
    layout = "LOCAL,MERGED,REMOTE"
[pager]
    difftool = true
[push]
    autoSetupRemote = true
    default = current
[rebase]
    autoSquash = ture
; @see http://git-scm.com/2010/03/08/rerere.html
[rerere]
    autoUpdate = true
    enabled = true
[user]
    ; See the bash.local.example file
    ;  Can be overridden by the GIT_AUTHOR_EMAIL, GIT_COMMITTER_EMAIL, and EMAIL environment variables.
    email = JoshuaEstes@users.noreply.github.com
    ;  Can be overridden by the GIT_AUTHOR_NAME and GIT_COMMITTER_NAME environment variables.
    name = Joshua Estes
    ;signingkey = ''
    username = JoshuaEstes
