# Folders that are usually in $HOME
bin/
code/
Applications/
Desktop/
Documents/
Downloads/
Library/
Mail/
Movies/
Music/
Pictures/

# Popular 3rd party folders
Dropbox/
Postman/
Public/

# Other directories I could care less about
.berkshelf/
.bundle/cache/
.cache/
.chef/cache/
.composer/cache/
.composer/vendor/
node_modules/

# files that need to be ignored
.aws/credentials
.composer/*.phar
.composer/auth.json
.composer/cacert.pem
.composer/keys.dev.pub
.composer/keys.tags.pub

# Linux stuff
snap/

# Others
.env.local
.env.bash.local
.env.zsh.local
